@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 150px;
    background-color: greenyellow;
}

ul, li {
    list-style: none;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    color: blueviolet;
    text-align: center;
    line-height: 100px;
    letter-spacing: 2px;
    font-family: 'establishRetrosansOTF';
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.banner {
    width: 100%;
    height: 50px;
    background-color: blueviolet;
    color: white;
    text-align: center;
    line-height: 50px;
}

.wrap {
    width: 100%;
    height: calc(100% - 150px);
    display: flex;
    position: relative;
}

.main {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.map {
    width: 100%;
    height: 100%;
}

.info {
    width: 20%;
    height: 40%;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    top: 50%;
    right: 30px;
    transform: translateY(-80%);
    z-index: 100;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.info-resetBtn{
    position: relative;
    left: 200px;
    bottom: 25px;
}
.info-resetBtn>button{
    padding: 4px 12px;
    background-color: #7fccde;
    box-shadow:0px 4px 0px #73B9C9;
    border: 0px;
    border-radius: 5px;
}
.info-resetBtn>button:active{
    box-shadow: 0 4 #73B9C9; background-color: #70B4C4;
}
.bike-info {
    width: 100%;
    height: 80px;
}
